# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Backend specific
backend/__pycache__/
backend/src/__pycache__/
backend/videos/*.mp4
backend/videos/*.avi
backend/models/*.pt
backend/paper

# Frontend specific - Flutter/Dart
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log